extends layout

block content
  each post in posts
     p #{post.title}
  #curPost
    if current
      h1= posts[current].title
      p= posts[current].pBody
    else 
      h1= posts[0].title
      p= posts[0].pBody
    a(href=prev id='prev') prev
    a(href=next id='next') next

