extends layout

block content
  #recent
    each post, index in posts
       a(href='/luke/blog/#{index}') #{post.title}
  #curPost
    if current
      h1= posts[current].title
      p= posts[current].pBody
    else 
      h1= posts[0].title
      p= posts[0].pBody
    a(href='/luke/blog/#{prev}' id='prev') prev
    a(href='/luke/blog/#{next}' id='next') next

