extends remlayout

block content
  script.
    var posts=#{posts};
  #grid
    -for (var i=0; i<10; i++) {
      a(href='/remwell/post/#{posts[i].id}')
        article.item
          h1= posts[i].title
          img(src='/post#{posts[i].id}/header.jpg')
          p= posts[i].capt
    -}



